{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 style="text-align:center;" class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p style="text-align:center;font-size:1rem;" class="author__name">{{ author.bio }}</p>{% endif %}
    {% if author.employer %}<p style="text-align:center;font-size:0.92rem" class="author__name">{{ author.employer }}</p>{% endif %}
  </div>

  <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Profile Links</button>
    <ul class="author__urls social-icons">

       {% if author.researchgate %}
        <li><a href="https://www.researchgate.net/profile/{{author.researchgate}}/"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
      {% endif %}

      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}

      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}

      {% if author.googlescholar %}
        <li><a href="https://scholar.google.com/citations?user={{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}

      {% if author.500px %}
        <li><a href="https://500px.com/{{ author.500px }}"><i class="fa fa-500px"></i> 500px</a></li>
      {% endif %}


    </ul>
  </div>
</div>
