<a href="{{ project.url | relative_url}}"style="text-decoration: none">
  <div class="grid-item">
      <div class="card-item">
        {% if project.img %}
        <img src="{{ project.img | relative_url }}" alt="project thumbnail">
        {% endif %}
        {% if project.teaser %}
        <img src="{{ project.teaser | relative_url }}" alt="project thumbnail">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{ project.title }}</a></h2>
          <h3 class="card-text"><span class='notbold'>{{ project.description }}</span></a></h3>
        </div>
      </div>
  </div>
 </a>
