---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

<div id="main" role="main">
  {% include sidebar.html %}
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="archive">
      {{ content }}
    </div>
  </article>
</div>
