---
layout: default
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  
  <!-- Body -->
  {% include sidebar.html %}

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
  
    <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
      <div class="container mt-5">
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">
              {{ content }}
            </div>
          </div>
      </div>
    </article>
    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
